{% extends 'base.html' %} 

{% block title %}Crear Blog{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="header mb-4 mt-4">
      <h1 class="h3">Crear Blog</h1>
    </div>
    <div class="body">
      <form method="POST">
        <div class="mb-3">
          <label for="url" class="form-label">URL de Blog</label>
          <input
            type="text"
            class="form-control"
            id="url"
            name="url"
            placeholder="ejemplo-title"
            required
          />
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Título</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            placeholder="Título del blog"
            required
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descripción</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            rows="3"
            placeholder="Breve descripción del blog"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="contentInput" class="form-label">Contenido</label>
          {{ ckeditor.create() }}
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
        <a href="{{ url_for('post.posts') }}" class="btn btn-danger">Cancelar</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}
