{% extends 'base.html' %} 
{% block title %}Actualizar Blog{% endblock %} 
{% block content %}
<section>
  <div class="container">
    <div class="header mb-4 mt-4">
      <h1 class="h3">Editar Blog</h1>
    </div>
    <div class="body">
      <form method="POST">
        <div class="mb-3">
          <label for="url" class="form-label">URL de Blog</label>
          <input
            type="text"
            class="form-control"
            id="url"
            name="url"
            placeholder="{{ post.url }}"
            disabled
          />
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Título</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            value="{{ post.title }}"
            placeholder="Título del blog"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descripción</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            rows="3"
          >{{ post.info | safe }}</textarea>
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Contenido</label>
          {{ ckeditor.create(value=post.content) }}
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
        <a href="{{ url_for('post.posts') }}" class="btn btn-danger">Cancelar</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}
