SECRET_KEY=your_secret_key_here
DEBUG=False/True
CRYPT_METHOD=your_crypt_method_here

POSTGRES_USER=username_here
POSTGRES_PASSWORD=password_here
POSTGRES_DB=database_name_here
PORT_DB=port_number_here

DATABASE_URL=postgresql+asyncpg://username_here:password_here@localhost:port_number_here/database_name_here