{% extends "base.html" %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="text-center">
                    <img src="{% if g.user.avatar %}{{ g.user.avatar_url }}{% else %}{{ url_for('static', filename='img/user-dark.png') }}{% endif %}"
                        width="100" class="profile-image rounded-circle mb-2" alt="Foto de perfil">
                    <div class="mb-3">
                        <input type="file" id="photo" name="photo" class="form-control" accept="image/*">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h1>Perfil de Usuario</h1>
                <hr class="mb-4">
                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ g.user.username }}"
                        required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ g.user.email }}" required
                        readonly>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirmar Contraseña</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                </div>
                {% block flash %}{% endblock %}
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}